<div id="template-container">
  <div *ngIf="eventName; else noTitleBlock">
    <h1 appFitText class="text">Time to {{ eventName }}</h1>
  </div>
  <ng-template #noTitleBlock
    ><div>
      <h1 appFitText class="text">Set the event's title</h1>
    </div></ng-template
  >

  <div class="countdown-wrapper">
    <ng-container *ngIf="endDate !== null; else noCountdownBlock">
      <p appFitText class="text">{{ countdown }}</p>
    </ng-container>
    <ng-template #noCountdownBlock>
      <div>
        <p appFitText class="text">Set the event's date</p>
      </div>
    </ng-template>
  </div>

  <form #countdownForm="ngForm" id="form-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input
        matInput
        name="eventName"
        [(ngModel)]="eventName"
        required
        autocomplete="off"
        (ngModelChange)="onEventNameChange()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="endDate"
        [(ngModel)]="endDate"
        required
        [min]="minDate"
        autocomplete="off"
        (ngModelChange)="onEndDateChange()"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
