<!-- TODO: Check text resizing -->
<div id="template-container">
  <!-- TODO: Need to add style to children -->
  <div *ngIf="eventName; else noTitleBlock">
    <h1 appFitText class="text">Time to {{ eventName }}</h1>
  </div>
  <ng-template #noTitleBlock
    ><div><h1 appFitText class="text">Set an event</h1></div></ng-template
  >
  <div class="countdown-wrapper">
    <div *ngIf="countdown && eventName && endDate; else noCountdownBlock">
      <p appFitText class="text">{{ countdown }}</p>
    </div>
    <ng-template #noCountdownBlock>
      <div>
        <p appFitText class="text">Set a date</p>
      </div>
    </ng-template>
  </div>

  <form #countdownForm="ngForm" id="form-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input
        matInput
        name="eventName"
        [(ngModel)]="eventName"
        required
        autocomplete="off"
        (ngModelChange)="onEventNameChange()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="endDate"
        [(ngModel)]="endDate"
        required
        [min]="minDate"
        autocomplete="off"
        (ngModelChange)="onEndDateChange()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- BUG: ngSubmit isn't triggered unless focus is on eventName input -->
    <!-- <button type="submit" style="display: none"></button> -->
  </form>
</div>
