@use '../styles/styles.scss' as *;

#template-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: $color-background;
  padding: 0 2rem;

  h1 {
    color: $color-nc;
  }

  .text {
    margin: 0;
  }

  .countdown-wrapper {
    margin-bottom: 10vh;
  }

  #form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;

    .form-field {
      width: 296px; // Set width so that fields stack nicely on small screens
    }
  }
}
